/* Importing Font Family  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* ====================================================
		========>> [  Start Faq ] <<========	
====================================================== */
.faq {
    margin: 1rem 0;
}
.faq_acc {
    position: relative;
    margin-bottom: .3rem;
    text-align: center;
}
.faq_title {
    background: #0d1a2c !important;
    color: #fff;
    padding: .7rem 2rem;
    cursor: pointer;
    position: relative;
    border-bottom-right-radius: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #06101f;
    
}

.faq_title i {
    position: absolute;
    left: 40px;
    top: 17px;
    transition:  all .3s ease;


}

.rot {
    transform: rotate(90deg);
}

.faq_body {
    padding: .7rem 2rem;
    background: whitesmoke;
    display: none;
}

.faq_acc::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 15px;
    background: #fab319;
    top: 0;
    left: 0;
    z-index: 1111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: .3rem;
    padding-right: .3rem;
}

/* ====================================================
		========>> [ End Faq ] <<========	
====================================================== */

::selection {
    background-color: #fa9119;
    color: #fff;
}


/* Welcome To Our Website */
.w_t_e {
    background: #fa9119;
    position: fixed;
    top: 50%;
    left: 0;
    color: #fff;
    padding: .8rem;
    z-index: 9999999999;
    -webkit-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.35);
    box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.35);
    transition: all .3s ease;
}

.h_cw {
    transform: translateX(-300px);
}

.w_t_e p {
    color: #fff;
}



.c_w_t_e {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    right: -25px;
    top: -10px;
    background: #111e30;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* Sign Up */
.sign_up,
.sign_in {
    margin-top: 170px;
    /* display: flex;
    font-family: inherit; */
}

.btn_bg {
    background: #142236;
}

.su_f {
    margin-top: 170px;
}

.contct {
    margin-top: 200px;
}

.c_form  form label {
    font-family: 'Open Sans', sans-serif;
}

.c_form  form input::placeholder {
    font-family: 'Open Sans', sans-serif;
}

.c_form  form input,
.c_form form textarea {
    border: 1px dashed #142236;
    border-radius: 0;
    margin: .5rem 0;
}

.ct_add_box {
    font-family: 'Open Sans', sans-serif;
}

.ct_add_box .add_box {
    margin-bottom: 2rem;
    background: #fa9119;
    padding: 1rem;
    color: #fff;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    position: relative;
}

.add_box::before {
    content: '';
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    transform: rotate(.5deg);
    transform-origin: top left;
    opacity: .4;
    filter: blur(1px);
}

.add_box p {
    color: #000;
}

.add_box:hover .ic_b::before {
    transform: translateY(0px);
}


.add_box:hover .ic_b {
        -webkit-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.35);
-moz-box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.35);
box-shadow: 1px 3px 10px -2px rgba(0,0,0,0.35);
}

.ic_b {
    position: absolute;
    top: 0;
    right: 0;
    background: #142236;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    /* -webkit-box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.35);
-moz-box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.35);
box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.35); */
overflow: hidden;
}
.ic_b i {
    z-index: 99;
    position: relative;
}

.ic_b::before {
content: '';
background: #ffc116;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
position: absolute;
transform: translateY(-100px);
transition: all .3s ease;
}

.ct_add_box .add_box .add_box_t {
    margin-bottom: .7rem;
}

.ct_add_box .add_box a {
    color: #fff;
    background: #142236;
    padding: .5rem;
}

/* About US */
.abt_us {
    padding-top: 175px;
    background: #111e30;
    padding-bottom: 30px;
}
.abt_us .t {
    border-bottom: 2px solid #fff;
    padding: .5rem 0;
}

.abt_us p {
    margin: .8rem 0;
}
/* End Of About US */

#su_f label{
 margin-bottom: .5rem;
}

.plans {
    margin-top: 200px;
    
    /* display: flex; */
    font-family: 'Open Sans', sans-serif;
}

.plans_box {
    background: #142236;
    color: white;
    text-align: center;
}

.plans_box  .table th {
    color:  #fa9119;
}

.t_c_condition {
    text-align: center;
}

.t_c_condition ul li {
    padding: .7rem 0;
}

.t_c_condition ul li::before, 
.t_c_condition ul li::after {
    content: '*';
}

#form_ {
    /* display: flex; */
    /* position: relative !important; */
}

#form_ label {
    display: block;
    
}

.f_s_i {

    border: none;
    border-bottom: 1px solid #142236;
    display: block;
    /* background: #fa9119; */
    width: 100%;
    padding: .8rem;
    position: relative;
}

.f_s_i:focus {
    background: whitesmoke;
    outline: none;
    border-left: 1px solid #142236;
}


.sign_in_box a p {
    color: #142236;
}

.t_c_box,
.sp_id {
    display: flex;
    margin-top: 15px;
}

.t_c_box label,
.sp_id label {
    margin-right: 10px;
}



.v_fallback {
    display: none;
}

/* .footer-area {
    position: relative;
}

.v_counter {
    position: absolute;
    right: 20px;
    top: 50%;
} */

/* End Of Sign up */








/* Bookin Started */
.bs {
    position: fixed;
    right: 0;
    top: 25%;
    z-index: 9999999;
    background: #000000;
    color: #fff;
    padding: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    
}

.bs span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    background-image: linear-gradient(to bottom, #ff0000, #120446);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 800;

    animation: g_an 2s backwards infinite ease;
}


/* Gradient Animation */
@keyframes g_an {
    0% {
        background-image: linear-gradient(to bottom, #ff0000, #00ff4c);
    }

    30% {
        background-image: linear-gradient(to bottom, #00ff4c, #00eeff);
    }

    60% {
        background-image: linear-gradient(to bottom, #00eeff, #ff00d4);
    }

    100% {
        background-image: linear-gradient(to bottom, #ff00d4, #ffd000);
    }
}


@keyframes g_an2 {
    0% {
        background-image: linear-gradient(to bottom, #ff0000, #00ff4c);
    }

    100% {
        background-image: linear-gradient(to bottom, #ff00d4, #ffd000);
    }
}
/* End Of Gradient Animation */


/* End Of Bookin Started */






/* All Medias */
@media (max-width: 1000px) {
    .sign_up {
    margin-top: 100px;
    /* display: flex;
    font-family: inherit; */
    text-align:center;
}

.v_fallback img {
    width: 100%;
}

@media (max-width: 400px) {
    .v_fallback {
        display: block;
    }

    .v_fallback img {
        margin-top: 3.5rem;
    }



    #myVideo {
        display: none;
    }
}

@media (max-width: 500px) {
    .faq_title h5 {
        padding: .5rem 2.3rem;
        font-size: .8rem;
    }
}